.App {
  text-align: center;
  background-color: rgb(226, 105, 24);
  color: white;
 
}

.App-header { 
  background: rgb(131,58,180);
background: -moz-linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);


}
.Title {
  font-size:37px;
  padding-bottom: 30px;
}

.link {

  color:purple;
}

.Name {
  font-size: 150px;
  color: blue;
  margin:0;
}